<header class="site-header">
    <h1 class="site-name"><a href="/">Emilio Barkett</a></h1>
    <nav class="site-nav">
        <a href="/blog.html">Blog</a>
        <a href="mailto:eab2291@columbia.edu">Email</a>
        <a href="https://github.com/EmilioBarkett" target="_blank" rel="noopener">GitHub</a>
        <a href="https://linkedin.com/in/emiliobarkett/" target="_blank" rel="noopener">LinkedIn</a>
        <a href="https://scholar.google.com/citations?hl=en&user=jcWwZKkAAAAJ&view_op=list_works&gmla=AH8HC4wzaDgNidxuH-wj0qv_aQck3QafXrNOlgV6bqZ687-gTb4kAoRaSrCUIr-e28S4lYVDVF2CKxGY-nM-G3bm" target="_blank" rel="noopener">Google Scholar</a>
        <a href="/teaching.html">Teaching</a>
        <a href="/Emilio-Barkett-CV-2026-08-07.pdf" target="_blank" rel="noopener">CV</a>
    </nav>
</header>
